ASPNETCORE_ENVIRONMENT=Development

MAIN_DB_NAME=citizen_platform
MAIN_DB_USER=citizen_platform
MAIN_DB_PASSWORD=change-me-local
MAIN_DB_PORT=5432
MAIN_DB_CONNECTION_STRING=Host=localhost;Port=5432;Database=citizen_platform;Username=citizen_platform;Password=change-me-local

MUNICIPALITY_DB_NAME=municipality_sample
MUNICIPALITY_DB_USER=municipality_sample
MUNICIPALITY_DB_PASSWORD=change-me-local
MUNICIPALITY_DB_PORT=5433
MUNICIPALITY_DB_CONNECTION_STRING=Host=localhost;Port=5433;Database=municipality_sample;Username=municipality_sample;Password=change-me-local

MINIO_ROOT_USER=citizenplatform
MINIO_ROOT_PASSWORD=change-me-local
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
OBJECT_STORAGE_ENDPOINT=http://localhost:9000
OBJECT_STORAGE_BUCKET=citizen-platform-local
OBJECT_STORAGE_ACCESS_KEY=citizenplatform
OBJECT_STORAGE_SECRET_KEY=change-me-local
OBJECT_STORAGE_PROVIDER=Local
OBJECT_STORAGE_LOCAL_ROOT_PATH=storage/complaint-attachments
OBJECT_STORAGE_MAX_FILE_SIZE_BYTES=10485760
OBJECT_STORAGE_MAX_REQUEST_BODY_SIZE_BYTES=52428800
OBJECT_STORAGE_ALLOWED_CONTENT_TYPES=image/jpeg,image/png,image/webp
